<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trackery.trackerybackapiserver.domain.album.mapper.AlbumMapper">
    <!--앨범 엔티티 리절트맵-->
    <resultMap id="AlbumResultMap" type="com.trackery.trackerybackapiserver.domain.album.entity.Album">
        <id property="albumId" column="album_id"/>
        <result property="userId" column="user_id"/>
        <result property="albumTitle" column="album_title"/>
        <result property="albumDescription" column="album_description"/>
        <result property="thumbnailImageId" column="thumbnail_image_id"/>
        <result property="albumRegDate" column="album_reg_date"/>
        <result property="albumModDate" column="album_mod_date"/>
        <result property="isPublic" column="is_public"/>
        <result property="isDeleted" column="is_deleted" />
    </resultMap>

    <resultMap id="AlbumImageResultMap" type="com.trackery.trackerybackapiserver.domain.album.entity.AlbumImage">
        <id property="albumImageId" column="album_image_id" />
        <result property="albumId" column="album_id" />
        <result property="imageId" column="image_id" />
    </resultMap>

    <insert id="insertAlbum" parameterType="com.trackery.trackerybackapiserver.domain.album.entity.Album" useGeneratedKeys="true" keyProperty="albumId">
        INSERT INTO album (user_id,
                           album_title,
                           album_description,
                           thumbnail_image_id,
                           album_reg_date,
                           album_mod_date,
                           is_public,
                           is_deleted)
        VALUES (#{userId},
                #{albumTitle},
                #{albumDescription},
                #{thumbnailImageId},
                #{albumRegDate},
                #{albumModDate},
                #{isPublic},
                0);
    </insert>

    <insert id="insertAlbumImage" parameterType="com.trackery.trackerybackapiserver.domain.album.entity.AlbumImage" useGeneratedKeys="true" keyProperty="albumImageId">
        INSERT INTO album_image(album_id, image_id)
        VALUES (#{albumId}, #{imageId})
    </insert>

    <select id="findAlbumImageByAlbumIdAndImageId" resultMap="AlbumImageResultMap">
        SELECT * FROM album_image WHERE album_id = #{albumId} AND image_id = #{imageId}
    </select>

    <delete id="deleteAlbumImageByAlbumImageId">
        DELETE FROM album_image WHERE album_image_id = #{albumImageId}
    </delete>

    <select id="findByAlbumId" resultMap="AlbumResultMap">
        SELECT * FROM album WHERE album_id = #{albumId} AND album.is_deleted = 0
    </select>

    <select id="findAlbumsByUserId" resultMap="AlbumResultMap">
        SELECT * FROM album WHERE user_id = #{userId} AND album.is_deleted = 0
    </select>

    <select id="findAlbumImagesByAlbumId" resultType="com.trackery.trackerybackapiserver.domain.album.entity.AlbumImage">
        SELECT * FROM album_image WHERE album_id = #{albumId}
    </select>

    <update id="updateAlbumInfo">
        UPDATE album
        <set>
            album_mod_date = CONVERT_TZ(NOW(), 'UTC', 'Asia/Seoul'),

            <if test="dto.albumTitle != null and dto.albumTitle != ''">
                album_title = #{dto.albumTitle},
            </if>
            <if test="dto.albumDescription != null">
                album_description = #{dto.albumDescription},
            </if>
            <if test="dto.isPublic != null">
                is_public = #{dto.isPublic},
            </if>
        </set>
        WHERE album_id = #{albumId}
    </update>

    <update id="deleteAlbumByAlbumId">
        UPDATE album
        SET is_deleted = 1
        WHERE album_id = #{albumId}
    </update>

    <update id="setThumbnail">
        UPDATE album
        SET thumbnail_image_id = #{imageId}
        WHERE album_id = #{albumId}
    </update>

    <!-- 앨범의 이미지들을 썸네일 생성용으로 조회 -->
    <select id="findImagesForThumbnailByAlbumId"
            resultType="com.trackery.trackerybackapiserver.domain.image.dto.internal.ImageInfoForThumbnailDto">
        SELECT
            i.image_id as imageId,
            i.user_id as userId,
            i.image_name as imageName
        FROM album_image ai
        JOIN image i ON ai.image_id = i.image_id
        WHERE ai.album_id = #{albumId}
          AND i.is_deleted = 0
    </select>

    <!-- 내 이미지에서 앨범에 포함된 이미지를 제외해서 조회-->
    <select id="findMyImagesThumbnailWithoutAlbumImages"
            resultType="com.trackery.trackerybackapiserver.domain.image.dto.internal.ImageInfoForThumbnailDto">
        SELECT
            i.image_id as imageId,
            i.user_id as userId,
            i.image_name as imageName
        From image i
        WHERE i.user_id = #{userId}
        AND i.is_deleted = 0
        AND NOT EXISTS (
            SELECT 1
            FROM album_image ai
            WHERE ai.image_id = i.image_id
            AND ai.album_id = #{albumId}
        )
    </select>
</mapper>
