<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trackery.trackerybackapiserver.domain.image.mapper.ImageMapper">
    <resultMap id="ImageMap" type="com.trackery.trackerybackapiserver.domain.image.entity.Image">
        <id property="imageId" column="image_id"/>
        <result property="imageName" column="image_name"/>
        <result property="imageFile" column="image_file"/>
        <result property="isPublic" column="is_public"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="imageType" column="image_type"/>
        <result property="imageContent" column="image_contents"/>
        <result property="imageDate" column="image_date"/>
        <result property="imageRegDate" column="image_reg_date"/>
        <result property="userId" column="user_id"/>
        <association property="coordPoint" javaType="com.trackery.trackerybackapiserver.domain.location.entity.CoordinatePoint">
            <id property="coordinatePointId" column="coord_point_id" />
            <result property="coordinatePointName" column="coord_point_name" />
            <result property="coordinatePointDetail" column="coord_point_detail" />
            <result property="coordinatePointPoint" column="coord_point_point" />
            <result property="coordinatePointType" column="coord_point_type" />
            <result property="firstRegisteredDate" column="first_reg_dt" />
            <result property="lastModifiedDate" column="last_mod_dt" />
            <association property="sigungu" javaType="com.trackery.trackerybackapiserver.domain.location.entity.JusoSigungu">
                <id property="sigunguId" column="sgg_id" />
                <result property="sigunguName" column="sgg_name" />
                <association property="sido" javaType="com.trackery.trackerybackapiserver.domain.location.entity.JusoSido">
                    <id property="sidoId" column="sd_id" />
                    <result property="sidoName" column="sd_name" />
                </association>
            </association>
        </association>
    </resultMap>

    <!-- 랜딩페이지에서 쓸 공개되어있고 삭제되지 않은 이미지 주소를 무작위로 30개 가져오는 쿼리 -->
    <select id="selectPublicImageFiles" resultType="string">
        SELECT image_file
        FROM image
        WHERE is_deleted = 0
          AND is_public = 1
        ORDER BY RAND()
        LIMIT 30
    </select>

    <insert id="insertImage" parameterType="com.trackery.trackerybackapiserver.domain.image.entity.Image"
            useGeneratedKeys="true" keyProperty="imageId">
        INSERT INTO image (image_name,
                           image_file,
                           is_public,
                           is_deleted,
                           image_type,
                           image_contents,
                           image_date,
                           image_reg_date,
                           coord_point_id,
                           user_id)
        VALUES (#{imageName},
                #{imageFile},
                #{isPublic},
                #{isDeleted},
                #{imageType},
                #{imageContent},
                #{imageDate},
                #{imageRegDate},
                #{coordPoint.coordinatePointId},
                #{userId})
    </insert>

    <select id="findImageByImageId" resultMap="ImageMap">
        SELECT i.*,
               cp.*,
               sgg.sgg_id,
               sgg.sgg_name,
               sd.sd_id,
               sd.sd_name
        FROM image i
                 LEFT JOIN coord_poi cp ON i.coord_point_id = cp.coord_point_id
                 LEFT JOIN juso_sigungu sgg ON cp.sgg_id = sgg.sgg_id
                 LEFT JOIN juso_sido sd ON sgg.sd_id = sd.sd_id
        WHERE i.image_id = #{imageId}
          AND i.is_deleted = 0
    </select>

    <!-- 유저 ID로 이미지 썸네일 정보 조회 -->
    <select id="findImageThumbnailsByUserId"
            parameterType="com.trackery.trackerybackapiserver.domain.image.dto.internal.ImageSearchByUserIdDto"
            resultType="com.trackery.trackerybackapiserver.domain.image.dto.internal.ImageInfoForThumbnailDto">
        SELECT
        i.image_id as imageId,
        i.user_id as userId,
        i.image_name as imageName
        FROM image i
        WHERE i.user_id = #{userId}
        AND i.is_deleted = 0
        <if test="excludeAlbumId != null">
            AND NOT EXISTS (
            SELECT 1
            FROM album_image ai
            WHERE ai.image_id = i.image_id
            AND ai.album_id = #{excludeAlbumId}
            )
        </if>
    </select>

    <!-- 지역별 이미지 조회 쿼리 -->
    <select id="findImagesBySidoIdAndUserId" resultMap="ImageMap">
        SELECT 
            i.image_id,
            i.image_name,
            i.image_file,
            i.is_public,
            i.is_deleted,
            i.image_type,
            i.image_contents,
            i.image_date,
            i.image_reg_date,
            i.user_id,
            cp.coord_point_id,
            cp.coord_point_name,
            cp.coord_point_detail,
            cp.coord_point_point,
            cp.coord_point_type,
            cp.first_reg_dt,
            cp.last_mod_dt,
            sgg.sgg_id,
            sgg.sgg_name,
            sd.sd_id,
            sd.sd_name
        FROM image i
        JOIN coord_poi cp ON i.coord_point_id = cp.coord_point_id
        JOIN juso_sigungu sgg ON cp.sgg_id = sgg.sgg_id
        JOIN juso_sido sd ON sgg.sd_id = sd.sd_id
        WHERE sgg.sd_id = #{sidoId}
          AND i.user_id = #{userId}
          AND i.is_deleted = 0
        ORDER BY i.image_reg_date DESC
    </select>

    <select id="findImagesBySigunguIdAndUserId" resultMap="ImageMap">
        SELECT 
            i.image_id,
            i.image_name,
            i.image_file,
            i.is_public,
            i.is_deleted,
            i.image_type,
            i.image_contents,
            i.image_date,
            i.image_reg_date,
            i.user_id,
            cp.coord_point_id,
            cp.coord_point_name,
            cp.coord_point_detail,
            cp.coord_point_point,
            cp.coord_point_type,
            cp.first_reg_dt,
            cp.last_mod_dt,
            sgg.sgg_id,
            sgg.sgg_name,
            sd.sd_id,
            sd.sd_name
        FROM image i
        JOIN coord_poi cp ON i.coord_point_id = cp.coord_point_id
        JOIN juso_sigungu sgg ON cp.sgg_id = sgg.sgg_id
        JOIN juso_sido sd ON sgg.sd_id = sd.sd_id
        WHERE cp.sgg_id = #{sigunguId}
          AND i.user_id = #{userId}
          AND i.is_deleted = 0
        ORDER BY i.image_reg_date DESC
    </select>

    <!-- 이미지 메타데이터 수정 -->
    <update id="updateImageMetadata">
        UPDATE image
        <set>
            <if test="imageName != null">image_name = #{imageName},</if>
            <if test="imageContent != null">image_contents = #{imageContent},</if>
            <if test="imageDate != null">image_date = #{imageDate},</if>
            <if test="isPublic != null">is_public = #{isPublic},</if>
        </set>
        WHERE image_id = #{imageId}
        AND is_deleted = 0
    </update>

    <!-- 이미지 논리적 삭제 -->
    <update id="deleteImage">
        UPDATE image 
        SET is_deleted = 1
        WHERE image_id = #{imageId}
          AND is_deleted = 0
    </update>

</mapper>
