<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trackery.trackerybackapiserver.domain.user.mapper.UserMapper">

    <insert id="insertUser" parameterType="com.trackery.trackerybackapiserver.domain.user.entity.User" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO user (email, username, nickname, password, salt, start_date, status, last_login, user_profile)
        VALUES (#{email}, #{userName}, #{nickname}, #{password}, #{salt}, #{startDate}, #{status}, #{lastLogin}, #{userProfile});
    </insert>

    <select id="isExistsUserName" resultType="boolean" parameterType="String">
        SELECT EXISTS (SELECT 1 FROM user WHERE username = #{username})
    </select>

    <select id = "findById" parameterType="Long" resultType="com.trackery.trackerybackapiserver.domain.user.entity.User">
        SELECT * FROM user WHERE user_id = #{userId}
    </select>

    <insert id="insertUserRole" parameterType="com.trackery.trackerybackapiserver.domain.user.entity.UserRole" useGeneratedKeys="true" keyProperty="userRoleId" >
        INSERT INTO user_role (user_id, role_id)
        VALUES (#{userId}, #{roleId})
    </insert>

    <!-- 이메일로 회원 정보 찾는 쿼리 -->
    <select id="findByEmail" resultType="com.trackery.trackerybackapiserver.domain.user.entity.User">
        SELECT * FROM user WHERE email = #{email}
    </select>

    <!-- 주어진 이메일이 이미 존재하는지 확인하는 쿼리 -->
    <select id="isExistsEmail" resultType="boolean" parameterType="String">
        SELECT EXISTS (
            SELECT 1
            FROM user
            WHERE email = #{email})
    </select>
</mapper>
