<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trackery.trackerybackapiserver.domain.user.mapper.UserMapper">

    <!--유저 인서트 쿼리-->
    <insert id="insertUser" parameterType="com.trackery.trackerybackapiserver.domain.user.entity.User"
            useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO user (email, username, nickname, password, salt, start_date, status, last_login, user_profile)
        VALUES (#{email}, #{userName}, #{nickname}, #{password}, #{salt}, #{startDate}, #{status}, #{lastLogin},
        #{userProfile});
    </insert>

    <!--  이미 유저명이 존재하는지 조회하는 쿼리 -->
    <select id="isExistsUserName" resultType="boolean" parameterType="String">
        SELECT EXISTS (SELECT 1 FROM user WHERE username = #{username})
    </select>

    <!-- userId로 User 엔티티에 조회해서 매핑  -->
    <select id="findByUserId" parameterType="Long"
            resultType="com.trackery.trackerybackapiserver.domain.user.entity.User">
        SELECT u.*, ur.role_id
        FROM user u
        LEFT JOIN user_role ur ON u.user_id = ur.user_id
        WHERE u.user_id = #{userId}
            AND u.status = 1
    </select>

    <!-- 유저명으로 User 엔티티에 조회해서 매핑  -->
    <select id="findByUserName" parameterType="String"
            resultType="com.trackery.trackerybackapiserver.domain.user.entity.User">
        SELECT *, ur.role_id
        FROM user u
        LEFT JOIN user_role ur ON u.user_id = ur.user_id
        WHERE u.username = #{userName}
            AND u.status = 1
    </select>

    <!-- 이메일로 User 엔티티에 조회해서 매핑  -->
    <select id="findByEmail" parameterType="String"
            resultType="com.trackery.trackerybackapiserver.domain.user.entity.User">
        SELECT *, ur.role_id
        FROM user u
        LEFT JOIN user_role ur ON u.user_id = ur.user_id
        WHERE u.email = #{email}
            AND u.status = 1
    </select>


    <!-- 사용자 ID로 비밀번호 및 솔트 업데이트 -->
    <update id="updatePasswordByUserId" parameterType="com.trackery.trackerybackapiserver.domain.user.dto.update.UpdatePasswordDto">
        UPDATE user
        SET password = #{password}, salt = #{salt}
        WHERE user_Id = #{userId}
    </update>

    <!-- 사용자 ID로 닉네임 업데이트 -->
    <update id="updateNicknameByUserId">
        UPDATE user
        SET nickname = #{nickname}
        WHERE user_id = #{userId}
    </update>

    <!-- 사용자 ID로 활성 사용자 존재 여부 확인 -->
    <select id="isExistsUser" parameterType="Long">
        SELECT EXISTS (SELECT 1 FROM user WHERE userId = #{userId} AND status = 1)
    </select>

    <!-- 주어진 사용자 ID가 존재하는지 확인하는 쿼리 -->
    <select id="existsByUserId" resultType="boolean" parameterType="Long">
        SELECT EXISTS (SELECT 1 FROM user WHERE user_id = #{userId} AND status = 1)
    </select>

    <!-- 사용자 ID로 사용자명 업데이트 -->
    <update id="updateUserNameByUserId">
        UPDATE user
        SET username = #{userName}
        WHERE user_id = #{userId}
    </update>

    <!-- 사용자 ID로 이메일 업데이트 -->
    <update id="updateEmailByUserId">
        UPDATE user
        SET email = #{email}
        WHERE user_id = #{userId}
    </update>

    <!-- 사용자 ID로 마지막 로그인 시간 업데이트 -->
    <update id="updateLastLoginByUserId">
        UPDATE user
        SET last_login = #{lastLogin}
        WHERE user_id = #{userId}
    </update>

    <!-- 사용자 논리적 삭제 및 개인정보 익명화 -->
    <update id="deleteUserByUserId">
        UPDATE user
        SET status = 0,
            email = #{email},
            username = #{userName},
            nickname = #{nickname},
            password = #{password},
            salt = #{salt},
            user_profile = NULL
        WHERE user_id = #{userId}
    </update>
</mapper>
