<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.trackery.trackerybackapiserver.domain.user.mapper.UserMapper">

    <insert id="insertUser" parameterType="com.trackery.trackerybackapiserver.domain.user.entity.User" useGeneratedKeys="true" keyProperty="userId">
        INSERT INTO user (email, username, nickname, password, salt, start_date, status, last_login, user_profile)
        VALUES (#{email}, #{userName}, #{nickname}, #{password}, #{salt}, #{startDate}, #{status}, #{lastLogin}, #{userProfile});
    </insert>

    <select id="isExistsUserName" resultType="boolean" parameterType="String">
        SELECT EXISTS (SELECT 1 FROM user WHERE username = #{username})
    </select>

    <select id = "findById" parameterType="Long" resultType="com.trackery.trackerybackapiserver.domain.user.entity.User">
        SELECT * FROM users WHERE user_id = #{userId}
    </select>

    <insert id="insertUserRole" parameterType="com.trackery.trackerybackapiserver.domain.user.entity.UserRole" useGeneratedKeys="true" keyProperty="userRoleId" >
        INSERT INTO user_role (user_id, role_id)
        VALUES (#{userId}, #{roleId})
    </insert>

</mapper>
